{% extends "base.html" %}
{% block body %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.non_field_errors }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="form-group">
            {{ form.age.label }}
            {{ form.age }}
            {{ form.age.errors }}
        </div>

        <div class="form-group">
            {{ form.category.label }}
            {{ form.category }}
            {{ form.category.errors }}
        </div>

        <div class="form-group">
            {{ form.medium.label }}
            {{ form.medium }}
            {{ form.medium.errors }}
        </div>

        <div class="form-group">
            {{ form.image.label }}
            {{ form.image }}
            {{ form.image.errors }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
